<div *ngIf="profile">
  <h3>Hi {{ profile.name }}!</h3>
    <img src="{{ profile.picture }}" class="avatar" alt="avatar">
    <div>
      <i class="glyphicon glyphicon-envelope"></i> {{ profile.email }}
    </div>
    <h3>Infos</h3>
    <pre class="full-profile">{{ profile | json }}</pre>
</div>
<div class="panel panel-primary">
  <div class="panel-heading">Exemplo de grafico Power BI</div>
  <div class="panel-body" align="middle">
    <iframe width="680" height="510"
        src="https://app.powerbi.com/view?r=eyJrIjoiMmFlZGQ4NjgtZWQ2ZS00NjBlLTg3MDItNWU3NGVhOGIzNmExIiwidCI6IjU2N2NhNTBiLWYxOTgtNGIxMS1iZjc5LWYzNzhlMzM1YzljMCIsImMiOjR9"
        frameborder="0" allowFullScreen="true">
    </iframe>
  </div>
</div>